---
// This is Astro's frontmatter
// here you can write regular TypeScript or JavaScript
// It will only run on the server and never executes client-side
import Food from "../components/food.vue";
import BaseLayout from "../layouts/BaseLayout.astro";


---

<BaseLayout title="chrishandy.net">
  <h1 class="font-bold">Hi I am Chris. here is food I really like:</h1>
  <!-- Rendering our food items with the Vue component -->
  <Food client:load/>
  <br/>
  I also like <span class="text-purple-800 font-bold uppercase">Wine</span>
  <br/>
  Here are some projects I am currently interested in
  <div class="grid">

  </div>

</BaseLayout>