---
---

<footer>
    <div class="flex items-center mb-5 md:mb-10">
        <nav class="font-mono text-xs grow justify-end items-center flex gap-1 md:gap-3">
            <a href="https://x.com/chrishandy_" class="text-gray-600 hover:text-gray-900 transition-colors duration-200">@chrishandy</a>
        </nav>
    </div>
</footer>