---
---

<footer>
    <div class="flex items-center mb-5 md:mb-10">
        <nav class="font-mono text-xs grow justify-end items-center flex gap-1 md:gap-3">
            chrishandy
        </nav>
    </div>
</footer>