---

---

<header
  class="flex flex-col sm:flex-row items-center justify-between mb-5 md:mb-10"
>
  <h1 class="mb-4 sm:mb-0">
    <a href="/" class="text-xxl md:text-2xl lg:text-2xl">chrishandy</a>
  </h1>
  <nav class="text-xs sm:text-sm md:text-base w-full sm:w-auto">
    <ul class="flex justify-center sm:justify-end space-x-4 md:space-x-6">
      <li>
        <a
          href="/blog"
          class="text-gray-600 hover:text-gray-900 transition-colors duration-200"
          >blog</a>
      </li>
      <!-- <li><a href="/resume" class="text-gray-600 hover:text-gray-900 transition-colors duration-200">Resume</a></li> -->
    </ul>
  </nav>
</header>
