---
---
<header hx-boost="true" class="flex items-center mb-5 md:mb-10">
    <h1 class="font-serif"><a href="/">chrishandy</a></h1>
    <nav class="font-mono text-xs grow justify-end items-center flex gap-1 md:gap-3">
      <ul class="flex space-x-4">
        <li><a href="/about" class="text-gray-600 hover:text-gray-900">About</a></li>
        <li><a href="/blog" class="text-gray-600 hover:text-gray-900">Blog</a></li>
        <!-- <li><a href="/resume" class="text-gray-600 hover:text-gray-900">Resume</a></li> -->
      </ul>
    </nav>
  </header>