---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const title = "chrishandy.net";
---
<html>
  <head>
    <!-- Astro uses a JSX-like syntax in its body -->
    <title>{title}</title>
  </head>
  <body class="m-auto max-w-2xl px-4 py-8">
      <Header/>
      <main class="mb-4">
        <slot/>
      </main>
      <Footer/>
  </body>
</html>
