---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Chris Handy" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="m-auto max-w-container px-4 py-8">
      <Header/>
      <main class="mb-4">
        <slot/>
      </main>
      <Footer/>
  </body>
</html>
